* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    height: 100px;
    overflow: visible;
    background-color: #f1f1f1;
    padding: 20px 10px;
}

.header a {
    /* float: left; */
    color: white;
    text-align: center;
    /* font-size: 15px; */
}

.header a.logo {
    color: black;
    font-size: 25px;
    font-weight: bold;
}

.header-right {
    float: right;
}

/* .dropdown {
    position: relative;
    display: inline-block;
} */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    text-align: left;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}